.swiper-button-next,
.swiper-button-prev
{
    top: auto;
    bottom: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 80px;
    height: 80px;
    margin: 0 0 49px;

    transition: .2s linear;
    transform: none;

    color: #dabd84;
    border: 1px solid #dabd84;
    border-radius: 10px;
    background: none;
}

.swiper-button-prev
{
    right: 140px;
    left: auto;
}

.swiper-button-next
{
    right: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next img,
.swiper-button-prev img
{
    display: block;

    width: 24px;
    height: 24px;
}

.swiper-button-next img
{
    transform: rotate(180deg);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: -33px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 11px;

    pointer-events: none;
}


.swiper-pagination-bullet
{
    display: block;

    width: 11px;
    height: 11px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 2px solid #0098ff;
    border-radius: 50%;
    background: #0098ff;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 11px !important;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    border-color: #0098ff;
    background: #fff;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
